input {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  background: #25ADCE;

  -webkit-filter: opacity(100%);
  filter: opacity(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.slides {
  background-color: #fff;
}

label h1 {
  color: #fff;
}

label:hover {
  background-color: #c16c6c;
}

.info {
  display: none;
  overflow: hidden;
  width: 100%;
  background: #fff;
  color: var(--color-secondary);
}

.maps {
  display: none;
  background-color: #fff;
}

.map-slide {
  position: none;
}


@media only screen and (min-width: 38em) {

  .map-slide {
    position: absolute;
    left: 65%;
    transform: translateX(-30%);
  }

}

@media only screen and (min-width: 60em) {

  .map-slide {
    position: absolute;
    left: 52%;
    transform: translateX(-30%);
  }

}
