:root {
  --color-primary: #632918;
  --color-primary-light: #956957;
  --color-secondary: #407487;
  --color-accent: #ac6a28;
  --color-neutral: #f7f0cb;

  --font-primary: 'Quicksand', sans-serif;
}

html {
  font-family: var(--font-primary);
}
