:root {
  --color-primary: #25adce;
  --color-primary-light: #afc9d2;
  --color-secondary: #515254;
  --color-accent: #953531;

  --font-primary: 'Quicksand', sans-serif;

}

html {
  font-family: var(--font-primary);
}

h1 {
  font-weight: bold;
  color: #fff;
}

h2 {
  color: #fff;
}
