<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Double Double on the Double</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

  <header>
    <div class="grid pad-t">
      <div class="unit xs-1 s-1 m-1-2 l-1-3">
        <i class="icon i-64">
        <img src="{{site.baseurl}}/images/logo-64.svg" alt="" itemprop="logo">
        </i>
      </div>
    </div>
    </div>

  </header>
  <hr>

  {{content}}

</body>
</html>
